:root {
    --primary-colr: rgb(83, 197, 159);
    --sicndary-colr: rgb(128, 180, 157);
    --hover-colr: rgb(110, 251, 194);
    --footer-color: rgb(23, 231, 161);
    --hover-color2: rgb(4, 113, 97);
    --projects-color: rgb(15, 185, 43);
    --bg-color:aliceblue;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

span {
    color: var(--projects-color);
}


button{
    height: 35px;
    width: 160px;
    text-align: center;
    background-color: var(--projects-color);
    color: var(--bg-color);
    font-size: 18px;
    letter-spacing: 2px;
    border: 1px solid var(--projects-color);
    border-radius: 8px;
    transition: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: var(--bg-color);
    color: var(--projects-color);
    border: 1px solid var(--projects-color);
   transform: scale(1.03);
}


/*OUTSIDE PAGE FOR PROJECTS DETAILS*/
/*HEADER*/
#header {
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    height: 65px;
  
}

#header .nav_bar {
    display: flex;
   align-items: center;
    justify-content: space-around;
   
}

/*logo*/
.nav_bar .logo img {
    width: 160px;
    height: 70px;
}

/*list*/
.nav_bar .list ul {
    display: flex;
    list-style: none;
}

.nav_bar .list ul li {
    padding-left: 60px;
    font-size: 20px;
    transition: 0.4s;
}

.nav_bar .list ul li:hover {
    color: black;
    transform: scale(1.1);
}

.nav_bar .list ul a {
    text-decoration: none;
    color: var(--projects-color);
}

/*Search*/
.search input {
    position: relative;
    width: 280px;
    height: 30px;
    outline: none;
    background-color: var(--bg-color);
    border: 1px solid var(--projects-color);
    border-radius: 15px;
    padding-left: 10px;
    transition: 0.3S;
}

.search input:hover {
    border: 1px solid black;
    transform: scale(1.01);
}

.search span {
    position: absolute;
    text-align: center;
    left: 80%;
    top: 40%;
    font-size: 18px;
    color: var(--projects-color);
    cursor: pointer;
}

.search span:hover {
    color: black;
}

/*GitHub Icon*/
.github_icon a {
    font-size: 25px;
    color: var(--projects-color);
    transition: 0.5s;
}

.github_icon a:hover {
    color: black;
    transform: scale(1.1);
}

/*HOME SECTION */
#project_home{
    background-image: url(./images/projects_home_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.welcome{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.welcome .welcome_description{
    margin-left: 20px;
}
.welcome h1{
    color: aliceblue;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
}
.welcome p{
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 24px;
}
.welcome p span{
    font-size: 24px;
    letter-spacing: 2px;
}
.welcome  button{
    margin-top: 40px;
}
.welcome  a{
   padding-left: 20px;
}
.welcome  .welcome_img img{
   width: 90%;
   height: 100vh;
}
