@media screen  and (max-width:480px){
  

:root {
  /* website colors*/
  --primary-color: rgb(4, 131, 242);
  --secondary-color: #1059ec;
  --bg-color: #ffffff;
  --font-color: aliceblue;
  --black-color: rgb(1, 1, 1);
  --gray-color: #333333;

  /* website border radius*/
  --border-radius: 20px;

  /* website box shadow*/
  --box-shadow: 0 6px 10px rgba(18, 4, 165, 0.6);

  /* website fonts*/
  --fon-header: "Parkinsans";
  --font-P: "Ubuntu";
  --extra-font: "Roboto";

  /* website transition*/
  --transition: 0.7s;
}

/*general reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body{
width: 100%;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}

section {
  padding: 10px;
  background-color: rgba(12, 33, 227, 0.7);
  transition: background-color 0.3s ease-in-out;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
 padding: 0;
}

#weather_display{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.time_display,
.light-dark_mode {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 10px;

  width: 100%;
  max-width: 150px;
  height: 45px;
  text-align: center;
}

.time_display h3 {
  font-family: var(--extra-font);
}

.light-dark_mode i {
  width: 50px;
  font-size: 20px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.active_mode {
  border-radius: 15px;
  background-color: rgb(19, 18, 18);
  color: rgb(14, 124, 220);
}

.dark_mode_colors  {
  background-color: rgba(2, 6, 38, 0.4) !important;
  color: rgb(15, 124, 220);
}

.light_mode_colors {
  background-color: rgba(0, 21, 208, 0.7);
  color: aliceblue;
}
.light_mode_colors .time_display {
  color: rgb(14, 124, 220);
}

.city_name {
  text-align: center;
  padding-top: 6rem;

}

.city_name input {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: rgba(56, 55, 52, 0.4);
  color: aliceblue;
  outline: none;
  border: 1px solid var(--secondary-color);
}


.city_name input::placeholder {
  color: aliceblue;
  letter-spacing: 2px;
}
.city_name input:hover {
  box-shadow: var(--box-shadow);
}

.city_name input:focus {
  box-shadow: 0 6px 12px var(--bg-color);
  border: 1px solid var(--secondary-color);
}
.city_name span {
  position: absolute;
  right: 5%;
 font-size: 24px;
 margin-top: 10px;
 color: var(--secondary-color);
}
.city_name span:hover {
  transform: scale(1);
  color: black;
}
.city_weather{
   background-color: rgba(56, 55, 52, 0.4);
  margin-top: 2rem;
  border-radius: 20px;
}
.city_display h3{
  text-align: center;
  padding-top: 2rem;
  font-size: 2.4rem;
  letter-spacing: 2px;
  font-family: var(--extra-font);
}
.weather_state{
  text-align: center;
}
.weather_state h3{
  font-size: 24px;
}
.weather_state img{
  height: 50px;
}


.weather_info {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  padding-top: 3rem;
}

.temperature,
.wind_speed,
.humidity,
.feels_like,
.visibility,
.pressure{
  position: relative;
  width: 100%;
  height: 150px;
  
  text-align: center;
  padding-top: 40px;
  background-color: rgba(56, 55, 52, 0.4);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.temperature span,
.wind_speed span,
.humidity span,
.feels_like span,
.visibility span,
.pressure
span{
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #d8d8d8;
  letter-spacing: 2px;
  position: absolute;
  top:10px;
  left: 10px;
}

.forecast_days {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  width: 100%;
  margin-top: 3rem;
  background-color: rgba(56, 55, 52, 0.4);
  border-radius: 12px;
}
.forecast_days h3{
  color: aliceblue;
  padding:  20px 20px;
}
.day {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  padding: 12px;
  width: 100%;
  height: auto;
  font-size: 20px;
  border-bottom: 1px solid var(--secondary-color);
  text-align: center;
 
}
.day:last-child{
  border-bottom: none;
}
.day i{
  color: aliceblue;
  padding-bottom: 12px;
}
.day p{
  font-size: 16px;
}


}